include LICENSE
include README.md

recursive-include FMU4FOAM/tests/data *
recursive-include FMU4FOAM/tests/slaves *

recursive-include FMU4FOAM/resources *
recursive-include FMU4FOAM/FMU4FOAM-export *
